<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xóa kiểu xe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Xóa kiểu xe</h1>
    <form id="deleteTypeForm">
        <div class="form-group">
            <label>ID</label>
            <p th:text="*{id}"></p>
        </div>
        <div class="form-group">
            <label>Tên kiểu xe</label>
            <p th:text="*{name}"></p>
        </div>
        <button type="button" class="btn btn-danger" onclick="deleteType()">Xác nhận</button>
    </form>
    <button class="btn btn-secondary"><a href="/types">Danh sách kiểu xe</a></button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function deleteType() {
        var typeId = $('#id').text();

        $.ajax({
            type: "DELETE",
            url: "/types/" + typeId,
            success: function(response) {
                alert('Xóa kiểu xe thành công!');
                window.location.href = '/types'; // Redirect to types page
            },
            error: function(error) {
                alert('Xóa kiểu xe thất bại!');
            }
        });
    }
</script>
</body>
</html>